.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 40px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-profile {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 3px;
  }

  